$def with (blog, content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="Viet" lang="Viet"><HEAD><META http-equiv="Content-Type" content="text/html; charset=utf-8">
	<TITLE>晓城博客 文章</TITLE>
	<LINK rel="stylesheet" rev="stylesheet" href="../static/css/default.css" type="text/css" media="screen">
	<LINK rel="alternate" type="application/rss+xml" href="http://127.0.0.1/blog/rss.xml" title="MyBlog">
</HEAD><BODY class="multi default">
<DIV id="divAll">
	<DIV id="divPage">
	<DIV id="divMiddle">
		<DIV id="divTop">
			<DIV id="BlogTitle"><A href="">个人日记</A></DIV>
			<DIV id="BlogSubTitle">心里所想的，手上所做的，过去的，将来的……</DIV></DIV>
		<DIV id="divNavBar">
<UL>
<LI><A href="/">主页</A></LI>
<LI><A href="">搜索</A></LI>
<LI><A href="">标签</A></LI>
<LI><A href="">评论</A></LI>
<LI><A href="/admin/login">管理</A></LI>
</UL>
		</DIV>
		<DIV id="divMain">
			<div class="post cate1 auth1" align="center"><h2 class="post-title">$blog.title&nbsp;&nbsp;<span class="post-date">(&nbsp;晓城&nbsp;|&nbsp;$blog.time&nbsp;)<span id="spn85"></h2><div class="post-body">$:content</div></div>
		</DIV>
		<DIV id="divBottom">
			<H3 id="BlogPowerBy">Powered By <A href="" title="XiaoCheng Blog">XiaoCheng Blog</A>&nbsp;<SPAN id="footer-security"><IMG width="12" height="14" src="../static/images/detect.gif" alt="Code detection by Codefense" border="0"></SPAN></H3>
		</DIV>
	</DIV>
	</DIV>
</DIV>
</BODY></HTML>